<%- contentFor('HeaderCss') %>
    <link href="/public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Tournament Controle </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                            <li class="breadcrumb-item active">
                                <%- title %> List
                            </li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>


            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <!--  <h4 class="card-title">Validation type</h4>
                <p class="card-title-desc"> </p> -->

                            <form class="custom-validation" action="" onsubmit="handleSubmit(this)" method="POST"
                                name="player" enctype="application/x-www-form-urlencoded">
                                <div class="mb-3">
                                    <label class="form-label">Name1</label>
                                    <input type="text" name="name" value="<%=row.name?row.name:'' %>"
                                        class="form-control" required placeholder="Tournament name" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mode</label>
                                    <select class="form-select" name="mode" required>
                                        <option value="">Select Mode..</option>
                                        <option value="1" <%=row.mode===1 ?'selected':'' %>>Ludo</option>
                                        <option value="2" <%=row.mode===2 ?'selected':'' %>>Snake & Ladder</option>
                                        <option value="3" <%=row.mode===3 ?'selected':'' %>>Tic Toc Toe</option>
                                        <option value="4" <%=row.mode===4 ?'selected':'' %>>Fruit Slice</option>
                                        <option value="5" <%=row.mode===5 ?'selected':'' %>>Tetris</option>
                                        <option value="6" <%=row.mode===6 ?'selected':'' %>>Carrom</option>
                                        <option value="7" <%=row.mode===7 ?'selected':'' %>>BubbleShooter</option>
                                        <option value="8" <%=row.mode===8 ?'selected':'' %>>Archery</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Bet Amount</label>
                                    <input type="text" name="betAmount" value="<%=row.betAmount?row.betAmount:'' %>"
                                        class="form-control" required placeholder="Bet amount" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Bonus Amount Use</label>
                                    <input type="text" name="bonusAmountDeduction"
                                        value="<%=row.bonusAmountDeduction?row.bonusAmountDeduction:'' %>"
                                        class="form-control" required placeholder="Bonus  amount use" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Players</label>
                                    <select class="form-select" name="players" required>
                                        <option value="">Select Palyers..</option>
                                        <option value="2" <%=row.players===2 ?'selected':'' %>>2 players</option>
                                        <option value="4" <%=row.players===4 ?'selected':'' %>>4 players</option>
                                    </select>
                                </div>
                                <div class="mb-3">


                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label">Winner</label>
                                        <select class="form-select" name="winner" id="winner" required>
                                            <option value="">Select Winner..</option>
                                            <option value="1" <%=row.winner===1 ?'selected':'' %>>1</option>
                                            <option value="2" <%=row.winner===2 ?'selected':'' %>>2</option>
                                            <option value="3" <%=row.winner===3 ?'selected':'' %>>3</option>
                                        </select>
                                    </div>
                                    <div class="form-group col">

                                        <div id="userFields">
                                            <% for (const property in row.winnerRow) { %>
                                                <div id="heading" class="form-group">
                                                    <lable>
                                                        <%= property%> :
                                                    </lable><input type="text" placeholder="Wining Amount "
                                                        name="winnerRow[<%=property%>]" id="name_1"
                                                        value="<%=row.winnerRow[property] %>" class="form-control">
                                                </div>

                                                <% } %>

                                        </div>

                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Time</label>
                                    <select class="form-select" name="time" required>
                                        <option value="">Select Time..</option>
                                        <option value="2" <%=row.time===2 ?'selected':'' %>>2</option>
                                        <option value="3" <%=row.time===3 ?'selected':'' %>>3</option>
                                        <option value="5" <%=row.time===5 ?'selected':'' %>>5</option>
                                        <option value="10" <%=row.time===10 ?'selected':'' %>>10</option>
                                        <option value="15" <%=row.time===15 ?'selected':'' %>>15</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Complexity</label>
                                    <select class="form-select" name="complexity" required>
                                        <option value="">Select Accuracy..</option>
                                        <option value="1" <%=row.complexity===1 ?'selected':'' %>>Low</option>
                                        <option value="2" <%=row.complexity===2 ?'selected':'' %>>Medium</option>
                                        <option value="3" <%=row.complexity===3 ?'selected':'' %>>Heigh</option>
                                    </select>
                                </div>


                                <div class="mb-3">
                                    <label class="form-label">Bot</label>
                                    <select class="form-select" name="bot" required>
                                        <option value="false" <%=row.bot===false?'selected':'' %>>OFF</option>
                                        <option value="true" <%=row.bot===true?'selected':'' %>>ON</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Interval</label>
                                    <select class="form-select" name="interval" required>
                                        <option value="">Select Interval..</option>
                                        <option value="1" <%=row.interval===1 ?'selected':'' %>>1</option>
                                        <option value="2" <%=row.interval===2 ?'selected':'' %>>3</option>
                                        <option value="3" <%=row.interval===3 ?'selected':'' %>>5</option>
                                        <option value="10" <%=row.interval===10 ?'selected':'' %>>10</option>
                                        <option value="15" <%=row.interval===15 ?'selected':'' %>>15</option>
                                        <option value="30" <%=row.interval===30 ?'selected':'' %>>30</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Active <%=row.active%></label>
                                    <select class="form-select" name="active" required>
                                        <option value="false" <%=row.active===false ?'selected':'' %>>OFF</option>
                                        <option value="true" <%=row.active===true ?'selected':'' %>>ON</option>
                                    </select>
                                </div>
                                <div>
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div> <!-- end col -->


            </div> <!-- end row -->

            <%- contentFor('FooterJs') %>

                <!-- parsleyjs -->
                <script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>

                <script src="/public/assets/js/pages/form-validation.init.js"></script>
                <!-- Sweet Alerts js -->
                <script src="/public/assets/libs/sweetalert2/sweetalert2.min.js"></script>
                <!-- Sweet alert init js
  <script src="public/assets/js/pages/sweet-alerts.init.js"></script>-->
                <script>
                    $(function () {
                        $('#winner').change(function () {
                            var userNumber = $(this).val();
                            $("#userFields").empty();
                            //Dynamically create input fields based on user selection
                            create(userNumber);
                        });
                    });
                    function handleSubmit(params) {
                        if (params.checkValidity()) {
                            Swal.showLoading();
                        }
                        return false;
                    }
                    function create(userNumber) {
                        for (var i = 1; i <= userNumber; i++) {
                            $("userForm").append($("#userFields").append($("<div/>", {
                                id: 'heading', class: 'form-group'
                            }).append($("<lable/>").text("winner_" + i + " : "), $("<input/>", {
                                type: 'text',
                                placeholder: 'Wining Amount ',
                                name: 'winnerRow[winner_' + i + ']',
                                id: 'winner_' + i,
                                class: "form-control",
                                required: 'true'
                            })),


                            ))
                        }
                    }

                </script>
                <%- contentFor('BottomJs') %>