<%- contentFor('HeaderCss') %>
  <link href="/public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/public/gameshtml/css/main.css">
  <link rel="stylesheet" href="/public/gameshtml/css/dragonTiger.css">
  <style>
    .sso-hidden {
      display: block;
    }

    .banner {
      padding: 0;
      background-color: #52575c;
      color: white;
    }

    .banner-text {
      padding: 8px 20px;
      margin: 0;
    }


    #join-form {
      margin-top: 10px;
    }

    .tips {
      font-size: 12px;
      margin-bottom: 2px;
      color: gray;
    }

    .join-info-text {
      margin-bottom: 2px;
    }

    input {
      width: 100%;
      margin-bottom: 2px;
    }

    .player {
      width: 480px;
      height: 320px;
    }

    .player-name {
      margin: 8px 0;
    }

    #success-alert,
    #success-alert-with-token {
      display: none;
    }

    @media (max-width: 640px) {
      .player {
        width: 320px;
        height: 240px;
      }
    }  
  </style>
  <%- contentFor('breadcrumb') %>

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
          <h4 class="mb-0">Tournament Controle </h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
              <li class="breadcrumb-item active">
                <%- title %> List
              </li>
              <li class="breadcrumb-item active">Edit</li>
            </ol>
          </div>

        </div>
      </div>
    </div>
    <!-- end page title -->

    <%- contentFor('body') %>

      

      <div class="container">
        <form id="join-form" name="join-form">
          <div class="row join-info-group ">
            <div class="col-sm sso-hidden d-none">
              <p class="join-info-text">AppID</p>
              <input id="appid" type="text" value="<%=agodaAppId%>" placeholder="enter appid" readonly>

            </div>
            <div class="col-sm sso-hidden d-none">
              <p class="join-info-text">Token(optional)</p>
              <input id="token" type="text" placeholder="enter token">

            </div>
            <div class="col-sm">
              <div class="d-none">
                 <p class="join-info-text">Channel</p>
              <input id="channel" type="text" placeholder="enter channel name" required readonly>
              </div>
             
              <div class="button-group">
                <button id="host-join" type="submit" class="btn btn-primary btn-sm">Join as host</button>
                <!-- <div class="btn-group">
                  <button id="audience-join" type="button" class="btn btn-primary btn-sm" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Join as audience
                  </button>
                  <div class="audience dropdown-menu">
                    <a id="lowLatency" class="dropdown-item" label="Interactive Live Streaming Standard"
                      href="#">Interactive
                      Live Streaming Standard</a>
                    <a id="ultraLowLatency" class="dropdown-item" label="Interactive Live Streaming Premium"
                      href="#">Interactive Live Streaming Premium</a>
                  </div>
                </div> -->
                <button id="leave" type="button" class="btn btn-primary btn-sm" disabled>Leave</button>
              </div>
            </div>
            <div class="col-sm d-block d-none">
              <p class="join-info-text">User ID(optional)</p>
              <input id="uid" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"
                onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="Enter the user ID">
            </div>


          </div>



        </form>
        <!-- Single button -->

      </div>

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="">
            <div class="row video-group col-sm">
              <div class="col">
                <p id="local-player-name" class="player-name"></p>
                <div id="local-player" class="player"></div>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <div id="remote-playerlist"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="">
            <div id="game-container">
              <div id="timer">Time: <span id="time-remaining">0</span></div>
              <div id="cards-container">
                <div id="dragon-card" class="card"></div>
                <div id="tiger-card" class="card"></div>
              </div>
              <div id="board">
                <div id="dragon-area" class="bet-area">
                  <img src="/public/gameshtml/assets/dragonTiger/DragonBox.png" alt="Dragon Box">
                </div>
                <div id="tie-area" class="bet-area">
                  <img src="/public/gameshtml/assets/dragonTiger/TieBox.png" alt="Tie Box">
                </div>
                <div id="tiger-area" class="bet-area">
                  <img src="/public/gameshtml/assets/dragonTiger/TigerBox.png" alt="Tiger Box">
                </div>
              </div>
              <div id="history-container"></div>
            </div>
          </div>
        </div>


        <div class="row">
        </div>
        <div>

        </div>
      </div>

      <div class="d-lg-flex mb-4">
        <div class="chat-leftsidebar card">
          <div class="p-3 px-4">
            <div class="d-flex align-items-start">

            </div>
          </div>

          <!-- <div class="p-3">
            <div class="search-box chat-search-box">
              <div class="position-relative">
                <input type="text" class="form-control bg-light border-light rounded" placeholder="Search...">
                <i class="uil uil-search search-icon"></i>
              </div>
            </div>
          </div> -->

          <div class="pb-3">
            <div data-simplebar style="max-height: 470px;">
              <div class="p-4 border-top">

              </div>

              <div class="p-4 border-top">

              </div>
            </div>
          </div>
        </div>
        <!-- end chat-leftsidebar -->

        <div class="w-100 user-chat mt-4 mt-sm-0 ms-lg-1">
          <%- include ('../Partials/Chat') %>

        </div>
      </div>
      </div>
      <%- contentFor('FooterJs') %>

        <!-- parsleyjs -->
        <script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>

        <script src="/public/assets/js/pages/form-validation.init.js"></script>
        <!-- Sweet Alerts js -->
        <script src="/public/assets/libs/sweetalert2/sweetalert2.min.js"></script>
        <script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script>
        <script src="/public/assets/js/game/basicMute.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js"></script>
        <script src="/public/gameshtml/js/chat.js"></script>

        <script src="/public/gameshtml/js/socketHandler.js"></script>
        <script src="/public/gameshtml/js/dragonTiger.js"></script>
        <!-- Sweet alert init js
  <script src="public/assets/js/pages/sweet-alerts.init.js"></script>-->
        <script>
         
          let room = '';
          const data = {
            userId: "<%= row.influencerId%>",
            firstName: "<%= user?.firstName %>",
            lobbyId: "<%= row._id%>",
            role: "<%= row.tournamentType %>",
            maxp: 99999
          };
          SocketHandler.initialize('dragonTiger', data);
 
          function handleSubmit(params) {
            if (params.checkValidity()) {
              Swal.showLoading();
            }
            return false;
          }
        </script>

        <%- contentFor('BottomJs') %>