<%- contentFor('HeaderCss') %>
    <link href="/public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/public/assets/libs/flatpickr/flatpickr.min.css">
    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Tournament Controle </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                            <li class="breadcrumb-item active">
                                <%- title %> List
                            </li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>


            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <!--  <h4 class="card-title">Validation type</h4>
                <p class="card-title-desc"> </p> -->

                            <form class="custom-validation" action="" onsubmit="handleSubmit(this)" method="POST"
                                name="player" enctype="application/x-www-form-urlencoded">
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <input type="text" name="name" value="<%=row.name?row.name:'' %>"
                                        class="form-control" required placeholder="Tournament name" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mode</label>
                                    <select id="gameDropdown" class="form-select" name="mode" disabled required>
                                        <option value="">Select Mode..</option>
                                        <option value="1" <%=row.mode===1 ?'selected':'' %>>Ludo</option>
                                        <option value="2" <%=row.mode===2 ?'selected':'' %>>Dragon Tiger</option>
                                        <option value="3" <%=row.mode===3 ?'selected':'' %>>Teen patti</option>

                                        <option value="4" <%=row.mode===4 ?'selected':'' %>>Rouletee</option>

                                        <option value="5" <%=row.mode===5 ?'selected':'' %>>Tambola</option>
                                        <option value="6" <%=row.mode===6 ?'selected':'' %>>Crash</option>

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Bet Amount</label>
                                    <input type="text" id="betAmount" name="betAmount"
                                        value="<%=row.betAmount?row.betAmount:'' %>" class="form-control" required
                                        placeholder="Bet amount" />
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Players</label>

                                    <input type="text" id="players" name="players"
                                        value="<%=row.players?row.players:'' %>" class="form-control" required
                                        placeholder="Numer of players" />
                                </div>

                                <div class="row " id="">
                                    <div class="form-group col">
                                        <label class="form-label">Winner</label>
                                        <select class="form-select" name="winner" id="winner" >
                                            <option value="">Select Winner..</option>
                                            <option value="1" <%=row.winner===1 ?'selected':'' %>>1</option>
                                            <option value="2" <%=row.winner===2 ?'selected':'' %>>2</option>
                                            <option value="3" <%=row.winner===3 ?'selected':'' %>>3</option>
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <div id="userFields">
                                            <% for (const [key, value] of Object.entries(row.winnerRow)) { %>
                                                <div class="form-group">
                                                    <label><%= key %>:</label>
                                                    <input type="text" class="form-control" name="winnerRow[<%=key%>]" value="<%= value %>">
 
                                                </div>
                                            <% } %>


                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Start Time</label>

                                    <!-- <input type="text" name="time" class="form-control" required placeholder="Time" /> -->
                                        <input  placeholder="Select Date time.." type="text"  name="startTime" value="<%=row.startTime?row.startTime:'' %>" class="form-control flatpickr-input active" id="datepicker-datetime"  required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Complexity</label>
                                    <select class="form-select" name="complexity" required>
                                        <option value="">Select Accuracy..</option>
                                        <option value="1" <%=row.complexity===1 ?'selected':'' %>>Low</option>
                                        <option value="2" <%=row.complexity===2 ?'selected':'' %>>Medium</option>
                                        <option value="3" <%=row.complexity===3 ?'selected':'' %>>High</option>
                                    </select>
                                </div>


                                <div class="mb-3">
                                    <label class="form-label">Bot</label>
                                    <select class="form-select" name="bot" required>
                                        <option value="false" <%=row.bot===false?'selected':'' %>>OFF</option>
                                        <option value="true" <%=row.bot===true?'selected':'' %>>ON</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Active</label>
                                    <select class="form-select" name="active" required>
                                        <option value="false" <%=row.status===false?'selected':'' %>>OFF</option>
                                        <option value="true" <%=row.status===true?'selected':'' %>>ON</option>
                                    </select>
                                </div>
                                <div>
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div> <!-- end col -->


            </div> <!-- end row -->

            <%- contentFor('FooterJs') %>

                <!-- parsleyjs -->
                <script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>
                <script src="/public/assets/libs/flatpickr/flatpickr.min.js"></script>
                <script src="/public/assets/js/pages/form-validation.init.js"></script>
                <script src="/public/assets/libs/sweetalert2/sweetalert2.min.js"></script>
                <script>
                    $(function () {
                        $('#winner').change(function () {
                            var userNumber = $(this).val();
                            $("#userFields").empty();

                            //Dynamically create input fields based on user selection
                            create(userNumber);


                        });
                        let optional_config={ enableTime: true,
                            dateFormat: "Y-m-d H:i"}
                    $("#datepicker-datetime").flatpickr(optional_config);

                    });
                    function handleSubmit(params) {
                        // Clear any previous error messages
                        document.querySelectorAll('.error').forEach(function (error) {
                            error.style.display = 'none';
                        });

                        let isValid = true;
                        let errorMessages = [];

                        // Check only the visible elements for validity
                        for (let element of params.elements) {
                            if (element.offsetParent !== null) { // Check if the element is visible
                                if (!element.checkValidity()) {
                                    isValid = false;

                                    // Capture the invalid element and its error message
                                    errorMessages.push({
                                        element: element,
                                        message: element.validationMessage
                                    });

                                    // Show the error message in the corresponding error span
                                    let errorElement = document.getElementById(element.name + 'Error');
                                    if (errorElement) {
                                        errorElement.textContent = element.validationMessage;
                                        errorElement.style.display = 'inline';
                                    }
                                }
                            }
                        }

                        if (isValid) {
                            // If the form is valid, show a loading indicator
                             return true;
                        } else {
                            // If there are errors, log them or show them as needed
                            console.log("Errors:", errorMessages);

                            // Optionally, use SweetAlert to show errors
                            // Swal.fire({
                            //     title: 'Form Errors',
                            //     html: errorMessages.map(err => `<p>${err.message}</p>`).join(''),
                            //     icon: 'error'
                            // });
                            // Prevent default form submission
                            return false;
                        }


                    }

                    function create(userNumber) {
                        for (var i = 1; i <= userNumber; i++) {
                            $("userForm").append($("#userFields").append($("<div/>", {
                                id: 'heading', class: 'form-group'
                            }).append($("<lable/>").text("winner_" + i + " : "), $("<input/>", {
                                type: 'text',
                                placeholder: 'Wining Amount ',
                                name: 'winnerRow[winner_' + i + ']',
                                id: 'winner_' + i,
                                class: "form-control",
                                required: 'true'
                            })),


                            ))
                        }
                    }


                     
                    
                </script>
                <%- contentFor('BottomJs') %>