<%- contentFor('HeaderCss') %>
    <link href="/public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">
                        <%- title %> Edit
                    </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                            <li class="breadcrumb-item active"><a href="<%=process.env.ADMIN_URL%>/admin/gamemanager">
                                    <%- title %> List
                                </a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>


            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <!-- Tab panes -->
                            <div class="tab-content p-3 text-muted">
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <p class="mb-0">
                                    <form action="" enctype="multipart/form-data" method="POST"
                                        onsubmit="handleSubmit(this)">
                                        <input type="hidden" id="siteLogo" class="form-control" name="col"
                                            value="game" />
                                        <div class="mb-3">
                                            <label class="form-label">Name</label>
                                            <input type="text" id="name" name="name" value="<%=row.name?row.name:'' %>"
                                                class="form-control" required placeholder="name " />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Version</label>
                                            <div class="col-md-10">

                                                <input type="text" id="version" name="version"
                                                    value="<%=row.version ? row.version: '' %>" class="form-control"
                                                    required placeholder="version" />
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Status</label>
                                            <div class="col-md-10">
                                                <select id="statustxt" class="form-select" name="status" required>
                                                    <option value="active" <%=row.status==='active' ?'selected':'' %>
                                                        >active
                                                    </option>
                                                    <option value="inactive" <%=row.status==='inactive' ?'selected':''%>
                                                        >inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Game Image</label>
                                            <div class="col-md-10">
                                                <div> <img width=100 class="img-thumbnail"
                                                        src="<%= process.env.IMAGE_URL + row.imageId %>">

                                                </div>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#imageModal">
                                                    upload game image
                                                </button>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Package </label>
                                            <div class="col-md-10">
                                                <div>
                                                    <%= process.env.IMAGE_URL + row.packageId %>

                                                </div>

                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#pacakgeModal">
                                                    upload package
                                                </button>

                                            </div>
                                        </div>


                                        <div>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                                Submit
                                            </button>



                                        </div>

                                    </form>

                                    </p>
                                </div>

                            </div>


                        </div>
                    </div>
                </div> <!-- end col -->


            </div> <!-- end row -->

            <%- contentFor('FooterJs') %>
                <script src="/public/assets/libs/dropzone/min/dropzone.min.js"></script>

                <!-- parsleyjs -->
                <script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>

                <script src="/public/assets/js/pages/form-validation.init.js"></script>
                <!-- Sweet Alerts js -->
                <script src="/public/assets/libs/sweetalert2/sweetalert2.min.js"></script>
                <!-- Sweet alert init js
<script src="public/assets/js/pages/sweet-alerts.init.js"></script>-->
                <script>
                    let url = '<%= apiUrl  +row._id %>'
                    function handleSubmit(params) {
                        if (params.checkValidity()) {
                            //Swal.showLoading();
                            Swal.fire({
                                title: '',
                                html: 'Please wait...',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                didOpen: () => {
                                    Swal.showLoading()
                                }
                            });
                        }

                    }



                    $(document).ready(function (e) {
                        // $("#package").on('submit', (function (e) {
                        //     e.preventDefault();
                        //     $.ajax({
                        //         url: '<%= apiUrl +"upload/" +row._id %>',
                        //         type: "POST",
                        //         data: new FormData(this),
                        //         contentType: false,
                        //         cache: false,
                        //         processData: false,
                        //         success: function (data) {
                        //             location.reload();
                        //         },
                        //         error: function (e) {
                        //             alert('error');
                        //         }
                        //     });
                        // }));

                        // $("#imageId").on('submit', (function (e) {
                        //     e.preventDefault();
                        //     $.ajax({
                        //         url: '<%= apiUrl +"upload/" +row._id %>',
                        //         type: "POST",
                        //         data: new FormData(this),
                        //         contentType: false,
                        //         cache: false,
                        //         processData: false,
                        //         success: function (data) {
                        //             location.reload();
                        //         },
                        //         error: function (e) {
                        //             alert('error');
                        //         }
                        //     });
                        // }));
                        $("#package").on('submit', function (e) {
                            e.preventDefault();
                            $.ajax({
                                xhr: function () {
                                    var xhr = new window.XMLHttpRequest();
                                    xhr.upload.addEventListener("progress", function (evt) {
                                        if (evt.lengthComputable) {
                                            var percentComplete = ((evt.loaded / evt.total) * 100);
                                            $(".progress-bar").width(percentComplete + '%');
                                            $(".progress-bar").html(percentComplete + '%');
                                        }
                                    }, false);
                                    return xhr;
                                },
                                type: 'POST',
                                url: '<%= apiUrl +"upload/" +row._id %>',
                                data: new FormData(this),
                                contentType: false,
                                cache: false,
                                processData: false,
                                beforeSend: function () {
                                    $(".progress-bar").width('0%');
                                },
                                error: function () {
                                    $('#uploadStatus').html('<p style="color:#EA4335;">File upload failed, please try again.</p>');
                                },
                                success: function (resp) {

                                    $('#package')[0].reset();
                                    $('#uploadStatus').html('<p style="color:#28A74B;">File has uploaded successfully!</p>');
                                    location.reload();

                                }
                            });
                        });




                        $("#imageId").on('submit', function (e) {
                            e.preventDefault();
                            $.ajax({
                                xhr: function () {
                                    var xhr = new window.XMLHttpRequest();
                                    xhr.upload.addEventListener("progress", function (evt) {
                                        if (evt.lengthComputable) {
                                            var percentComplete = ((evt.loaded / evt.total) * 100);
                                            $(".progress-bar").width(percentComplete + '%');
                                            $(".progress-bar").html(percentComplete + '%');
                                        }
                                    }, false);
                                    return xhr;
                                },
                                type: 'POST',
                                url: '<%= apiUrl +"upload/" +row._id %>',
                                data: new FormData(this),
                                contentType: false,
                                cache: false,
                                processData: false,
                                beforeSend: function () {
                                    $(".progress-bar").width('0%');
                                },
                                error: function () {
                                    $('#uploadStatus').html('<p style="color:#EA4335;">File upload failed, please try again.</p>');
                                },
                                success: function (resp) {

                                    $('#imageId')[0].reset();
                                    $('#uploadStatus').html('<p style="color:#28A74B;">File has uploaded successfully!</p>');
                                    location.reload();

                                    

                                }
                            });
                        });


                    });


                </script>
                <%- contentFor('BottomJs') %>

                    <div class="modal fade" id="imageModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form id="imageId" name="package" action="" enctype="multipart/form-data" method="POST">
                                    <input type="hidden" name="col" value="imageId" />

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Upload Game Image</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><label class="form-label">Game Icon : </label>
                                        <div> <img width=100 class="img-thumbnail"
                                                src="<%= process.env.IMAGE_URL + row.imageId %>">

                                        </div>
                                        <div>
                                            <input id="uploadImage" type="file" class="form-control" name="file" />

                                        </div>
                                        <!-- Progress bar -->
                                        <div class="progress">
                                            <div class="progress-bar"></div>
                                        </div>
                                        <!-- Display upload status -->
                                        <div id="uploadStatus"></div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="pacakgeModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form id="package" name="package" action="" enctype="multipart/form-data" method="POST">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Upload Package File</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">


                                        <div class="mb-3">
                                            <label class="form-label">Pacakge Path</label>
                                            <%= process.env.IMAGE_URL + row.packageId %>

                                                <input type="hidden" id="siteLogo" class="form-control" name="col"
                                                    value="package" />
                                        </div>

                                        <input id="uploadImage" type="file" name="file" />
                                        <div class="progress">
                                            <div class="progress-bar"></div>
                                        </div>
                                        <!-- Display upload status -->
                                        <div id="uploadStatus"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>






                        <div class="modal-dialog">


                        </div>
                    </div>
                    </div>