<%- contentFor('HeaderCss') %>
    <link href="/public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">
                        <%- title %>
                    </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                            <li class="breadcrumb-item active"><a href="<%=process.env.ADMIN_URL%>/admin/settings">
                                    <%- title %>
                                </a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>


            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <!--  <h4 class="card-title">Validation type</h4>
                <p class="card-title-desc"> </p> -->

                            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#sitename" role="tab">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Site Name</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#logo" role="tab">
                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                        <span class="d-none d-sm-block">Site Logo</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#fees" role="tab">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block">Commision</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#upi" role="tab">
                                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                        <span class="d-none d-sm-block">UPI</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#bank" role="tab">
                                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                        <span class="d-none d-sm-block">Bank</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->

                            <div class="tab-content p-3 text-muted">

                                <div class="tab-pane active" id="sitename" role="tabpanel">
                                    <p class="mb-0">

                                    <form class="custom-validation" action="" onsubmit="handleSubmit(this)"
                                        method="POST" name="player" enctype="application/x-www-form-urlencoded">



                                        <div class="mb-3">
                                            <label class="form-label">Site </label>
                                            <input type="text" class="form-control" required name="one[site_name]"
                                                value="<%= row ? row.one['site_name']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Support Email</label>
                                            <input type="text" class="form-control" required name="one[support_email]"
                                                value="<%= row ? row.one['support_email']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Firebase key</label>
                                            <input type="text" class="form-control" required name="one[firebase_key]"
                                                value="<%= row ? row.one['firebase_key']:''%>" placeholder="" />
                                        </div>
                                        <!-- <div class="mb-3">
                                            <label class="form-label">2step auth</label>
                                            <input type="text" class="form-control" required name="one[2step_auth]"
                                                value="<%= row ? row.one['2step_auth']:''%>"
                                                placeholder="" />
                                        </div> -->
                                        <div class="mb-3">
                                            <label class="form-label">Currency symbol</label>
                                            <input type="text" class="form-control" required name="one[currency_symbol]"
                                                value="<%= row ? row.one['currency_symbol']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Maintenance</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="one[maintenance]" required>
                                                    <option value=""></option>
                                                    <option value="off" <%=row && row.one['maintenance']==='off'
                                                        ?'selected' :'' %>>OFF</option>
                                                    <option value="on" <%=row && row.one['maintenance']==='on'
                                                        ?'selected' :'' %>>ON</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">2step_auth</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="one[2step_auth]" required>
                                                    <option value=""></option>
                                                    <option value="off" <%=row && row.one['2step_auth']==='off'
                                                        ?'selected' :'' %>>inactive</option>
                                                    <option value="on" <%=row && row.one['2step_auth']==='on'
                                                        ?'selected' :'' %>>active</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div>
                                            <div>
                                                <button type="submit"
                                                    class="btn btn-primary waves-effect waves-light me-1">
                                                    Submit
                                                </button>
                                                <button type="reset" class="btn btn-secondary waves-effect">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    </p>

                                </div>
                                <div class="tab-pane" id="logo" role="tabpanel">
                                    <form id="banner" action="upload.php" enctype="multipart/form-data" method="POST">
                                        <p class="mb-0">
                                        <div class="mb-3">
                                            <label class="form-label">Site Logo</label>
                                            <input type="hidden" id="siteLogo" class="form-control" name="col"
                                                value="siteLogo" />
                                        </div>
                                        <img width=100 src="<%= process.env.IMAGE_URL + row.siteLogo %>">
                                        <div class="dropzone" id="myDropzone"></div>

                                        <button id="submit-all" type="submit"
                                            class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect">
                                            Cancel
                                        </button>




                                        </p>
                                    </form>

                                </div>

                                <div class="tab-pane" id="fees" role="tabpanel">
                                    <form id="banner"
                                        action="<%=process.env.ADMIN_URL%>/admin/site/commision/<%=row._id%>"
                                        onsubmit="handleSubmit(this)" enctype="multipart/form-data" method="POST">
                                        <p class="mb-0">

                                        <div class="mb-3">
                                            <label class="form-label">Tournament Commission in percentage</label>
                                            <input type="text" class="form-control" required name="commission"
                                                value="<%= row ? row['commission']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Minimum Withdraw</label>
                                            <input type="text" class="form-control" required name="minwithdraw"
                                                value="<%= row ? row['minwithdraw']:''%>" placeholder="" />
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Referral Commission fixed</label>
                                            <input type="text" class="form-control" required name="lvl1_commission"
                                                value="<%= row ? row['lvl1_commission']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">TDS</label>
                                            <input type="text" class="form-control" required name="tds"
                                                value="<%= row ? row['tds']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">GST</label>
                                            <input type="text" class="form-control" required name="gst"
                                                value="<%= row ? row['gst']:''%>" placeholder="" />
                                        </div>
                                        <!-- <div class="mb-3">
                                            <label class="form-label">Admin Referral Commission</label>
                                            <input type="text" class="form-control" required
                                                name="admin_referral_commission"
                                                value="<%= row ? row['admin_referral_commission']:''%>"
                                                placeholder="admin referral commission" />
                                        </div> -->

                                        <button id="submit-all" type="submit"
                                            class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect">
                                            Cancel
                                        </button>




                                        </p>
                                    </form>
                                </div>
                                <div class="tab-pane" id="upi" role="tabpanel">
                                    <p class="mb-0">
                                    <form id="banner" action="<%=process.env.ADMIN_URL%>/admin/site/upi/<%=row._id%>"
                                        onsubmit="handleSubmit(this)" enctype="multipart/form-data" method="POST">
                                        <p class="mb-0">
                                        <div class="mb-3">
                                            <label class="form-label">Upi Name</label>
                                            <input type="text" class="form-control" required name="name"
                                                value="<%= row ? row.upi['name']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Upi address</label>

                                            <input type="text" class="form-control" required name="va"
                                                value="<%= row ? row.upi['va']:''%>" placeholder="" />
                                        </div>

                                        <button id="submit-all" type="submit"
                                            class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect">
                                            Cancel
                                        </button>
                                        </p>
                                    </form>
                                    </p>
                                </div>
                                <div class="tab-pane" id="bank" role="tabpanel">
                                    <p class="mb-0">

                                    <form id="banner" action="<%=process.env.ADMIN_URL%>/admin/site/bank/<%=row._id%>"
                                        onsubmit="handleSubmit(this)" enctype="multipart/form-data" method="POST">
                                        <p class="mb-0">
                                        <div class="mb-3">
                                            <label class="form-label">Upi Name</label>
                                            <input type="text" class="form-control" required name="name"
                                                value="<%= row.bank ? row.bank['name']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Account </label>
                                            <input type="text" class="form-control" required name="account"
                                                value="<%= row.bank ? row.bank['account']:''%>" placeholder="" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">IFC CODE </label>
                                            <input type="text" class="form-control" required name="ifc"
                                                value="<%= row.bank ? row.bank['ifc']:''%>" placeholder="" />
                                        </div>


                                        <div class="mb-3">
                                            <label class="form-label">Address </label>
                                            <input type="text" class="form-control" required name="address"
                                                value="<%= row.bank ? row.bank['address']:''%>" placeholder="" />
                                        </div>


                                        <button id="submit-all" type="submit"
                                            class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect">
                                            Cancel
                                        </button>




                                        </p>
                                    </form>
                                    </p>
                                </div>
                                <!-- <div class="tab-pane" id="step" role="tabpanel">
                                    <p class="mb-0">
                                    <div class="mb-3">
                                        <label class="form-label">2step auth</label>
                                        <input type="text" class="form-control" name="one[2step_auth]"
                                            value="<%= row ? row.one['2step_auth']:''%>" placeholder="" />
                                    </div>
                                    <div>
                                        <div>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                                Submit
                                            </button>
                                            <button type="reset" class="btn btn-secondary waves-effect">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>

                                    </p>
                            </div> -->
                            </div>

                        </div>
                    </div>
                </div> <!-- end col -->


            </div> <!-- end row -->

            <%- contentFor('FooterJs') %>
                <script src="/public/assets/libs/dropzone/min/dropzone.min.js"></script>
                <!-- parsleyjs -->
                <script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>

                <script src="/public/assets/js/pages/form-validation.init.js"></script>
                <!-- Sweet Alerts js -->
                <script src="/public/assets/libs/sweetalert2/sweetalert2.min.js"></script>
                <script>
                    let url = '<%= apiUrl +"upload/" +row._id %>'
                    Dropzone.options.myDropzone = {
                        url: url,
                        autoProcessQueue: false,
                        uploadMultiple: false,
                        parallelUploads: 1,
                        maxFiles: 50,
                        maxFilesize: 5,
                        acceptedFiles: 'image/*',
                        addRemoveLinks: true,
                        success: function (file, response) {
                            location.reload();

                        },
                        init: function () {
                            dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

                            // for Dropzone to process the queue (instead of default form behavior):
                            document.getElementById("submit-all").addEventListener("click", function (e) {
                                // Make sure that the form isn't actually being sent.
                                e.preventDefault();
                                e.stopPropagation();
                                Swal.showLoading();
                                if (dzClosure.getQueuedFiles().length > 0) {
                                    dzClosure.processQueue();
                                } else {
                                    alert(JSON.stringify($("#banner").serialize()))

                                    $.post(url, $("#banner").serialize()).then(r => {
                                        location.reload();
                                    });
                                }

                            });

                            //send all the form data along with the files:
                            this.on("sending", function (data, xhr, formData) {
                                formData.append("col", $("#siteLogo").val());
                            });
                        }
                    }
                    function handleSubmit(params) {
                        if (params.checkValidity()) {
                            //Swal.showLoading();
                            Swal.fire({
                                title: '',
                                html: 'Please wait...',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                didOpen: () => {
                                    Swal.showLoading()
                                }
                            });
                        }

                    }
                    $(document).on('click', '.update', function (e) {
                        var id = $(this).attr("data-id");

                        // var name = $(this).attr("data-name");
                        // var email = $(this).attr("data-email");
                        // var phone = $(this).attr("data-phone");
                        // var city = $(this).attr("data-city");
                        $('#id_u').val(id);
                        // $('#name_u').val(name);
                        // $('#email_u').val(email);
                        // $('#phone_u').val(phone);
                        // $('#city_u').val(city);
                    });
                    $(document).on('click', '#update', function (e) {
                        alert('ffff');
                    });
                </script>
                <%- contentFor('BottomJs') %>



                    <div id="addEmployeeModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="user_form">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add User</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>NAME</label>
                                            <input type="text" id="name" name="name" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>EMAIL</label>
                                            <input type="email" id="email" name="email" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>PHONE</label>
                                            <input type="phone" id="phone" name="phone" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>CITY</label>
                                            <input type="city" id="city" name="city" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" value="1" name="type">
                                        <input type="button" class="btn btn-default" data-dismiss="modal"
                                            value="Cancel">
                                        <button type="button" class="btn btn-success" id="btn-add">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Modal HTML -->
                    <div id="editEmployeeModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="update_form">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" id="id_u" name="id" class="form-control" required>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" id="name_u" name="name" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>UPI</label>
                                            <input type="email" id="email_u" name="email" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>file</label>
                                            <input type="file" id="phone_u" name="phone" class="form-control" required>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" value="2" name="type">
                                        <input type="button" class="btn btn-default" data-dismiss="modal"
                                            value="Cancel">
                                        <button type="button" class="btn btn-info" id="update">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>